---
title: Software
---

<% # Getting data from software_data.yml %>
<% source = data.software_data %>
<div class="container center" markdown=1>
<%= source.title %>
<%= source.reconstruction %>
<%= source.meshing %>
<%= source.homology %>
<%= source.sparsification %>
<%= source.shape %>
<%= source.gathan %>
<%= source.near %>
</div>